body{
    background-color: rgb(210, 214, 223);
}
.loading {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products {
    display: grid;
    grid-template-columns: 100%;
    gap: 5rem;
}
.Individual-Products {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    height: 100%;
    border: 2px solid rgb(169, 175, 190);
}
.Individual-Products img{
    width: 100%;
    height: 25rem;
    object-fit: contain;
    border-radius: 20px;
}
.Price-Btn{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}
.Price-Btn span{
 /* text-align: center; */
}
.Price-Btn button{
    padding: 1rem;
    border-radius: 20px;
    background-color: greenyellow;
    border: none;
    font-weight: 550;
    cursor: pointer;
}
.Price-Btn button:hover{
    background-color: rgb(107, 178, 1);
}
@media screen and (min-width:425px) {
    .products {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width:768px) {
    .products {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
}

