*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(210, 214, 223);
    
}
::-webkit-scrollbar {
    display: none;
}
.loading {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products {
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem 1%;
    margin: 2% 5%;
}
.category{
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 550;
    color: gray;
    font-size: 0.8rem;
}
.Individual-Products {
    background-color: white;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    height: 100%;
    border: 2px solid rgb(169, 175, 190);
}
.Individual-Products img{
    width: 100%;
    height: 10rem;
    padding: 10px 0;
    object-fit: contain;
    border-radius: 20px;
}
.Cart-Products {
    margin: 0.3rem 0.4rem;
    background-color: white;
    padding: 0.3rem 0;
    border-radius: 10px;
    height: 100%;
    border: 2px solid rgb(169, 175, 190);
    display: flex;
    justify-content: space-between;
    
}
.Cart-img-text {
    margin: 0.3rem 1.5rem;
    background-color: white;
    display: flex;
    
}
.Cart-Products img{
    height: 5rem;
    width: 3rem;
    padding: 10px 0;
    object-fit: contain;
    border-radius: 20px;
    display: none;
}
.Cart-Price .Cart-Title{
    font-size: 1rem;
    padding-bottom: 5px;
}

.empty-cart{
    padding-top: 40vh;
    margin: 0 3rem;
    text-align: center;
}
.Price-Btn{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    margin-top: 15px;
}
p {
    display: -webkit-box;         
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;     
    -webkit-line-clamp: 3;        
  }
  
.Price-Btn button{
    padding: 0.5rem;
    border-radius: 20px;
    background-color: greenyellow;
    border: none;
    font-weight: 550;
    cursor: pointer;
}
.Price-Btn button:hover{
    background-color: rgb(107, 178, 1);
}
.Title{
    display: -webkit-box;         
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;     
    -webkit-line-clamp: 1;   
}
nav{
    background-color: rgb(217, 224, 239);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10%;
    
}
.cart{
    margin-top: 3rem;
}
.cart-container{
    font-size: 1.1rem;
    cursor: pointer;
}
.cart-container a{
    text-decoration: none;
    color: black;
}
.link-home{
    text-decoration: none;
    color: black;
}
.link{
    text-decoration: none;
}
.cartnum{
    font-size: 1rem;
    vertical-align: top;
    color: rgb(178, 14, 14);
}
.remove-btn{
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.remove-btn button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 206, 206);
    font-weight: 550;
    margin-right: 10px;
    cursor: pointer;
}
.remove-btn button:hover{
    background-color: rgb(249, 166, 166);
}
.qty-btns button{
    background-color: none;
    border: none;
    padding: 2px 8px;
    margin: 5px;
    border-radius: 10px;
}
.qty-btns button:hover{
    background-color: rgb(195, 195, 195);
}
.total-backbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10%;
}
.total-backbtn button:hover, .empty-cart button:hover{
    background-color: rgb(235, 235, 235);
}
.total-backbtn button{
    cursor: pointer;
    width: 3.5rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.empty-cart button{
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    margin-top: 5px;
}
.total-backbtn p{
    font-weight: 550;
    padding: 2px;
}
.total-backbtn .t-price{
    color: rgb(0, 8, 255);
}
@media screen and (min-width:425px) {
    .products {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1.5rem 1%;
    }
    .Cart-Products {
        margin: 0.3rem 10%;
        background-color: white;
        padding: 0.3rem 1rem;
        border-radius: 10px;
        height: 100%;
        border: 2px solid rgb(169, 175, 190);
        display: flex;
        
    }
    .Cart-Products img{
        height: 5rem;
        padding: 10px 0;
        object-fit: contain;
        border-radius: 20px;
        display: block; 
    }
    .Cart-Price{
        padding: 10px 1rem;
    }
    .Cart-Price .Cart-Title{
        font-size: 1rem;
        padding-bottom: 5px;
    }
}

@media screen and (min-width:768px) {
    .products {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:1.5rem 1%;
    }
    .Cart-Products {
        margin: 0.3rem 10%;
        background-color: white;
        padding: 0.3rem 1rem;
        border-radius: 10px;
        height: 100%;
        border: 2px solid rgb(169, 175, 190);
        display: flex;
        /* width: 50rem; */
        /* margin: 0 ; */

        
    }
    .Cart-Products img{
        /* width: ; */
        height: 5rem;
        padding: 10px 0;
        object-fit: contain;
        border-radius: 20px;
    }
    .Cart-Price{
        padding: 10px 1rem;
    }
    .Cart-Price .Cart-Title{
        font-size: 1rem;
        padding-bottom: 5px;
    }
}

